:root {
    --header-col: rgb(75, 38, 90);
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

/* Header */
header {
    display: inline-flex;
    width: 100%;
    background-color: var(--header-col);
    font-weight: lighter;
    color:azure;
}

.header-title h1 {
    display: inline-flex;
    font-weight: lighter;
    font-size: 4rem;
    margin-left: 1rem;
}

.header-title p {
    position: relative;
    margin: -2.5rem 0 1.5rem 1.5rem;
}

/* nav bar */
.nav-default {   
    position: relative;
    margin: -180PX 20px;
    float:right;
}

.nav-bar li {
    display:inline;
    flex:wrap;
    list-style: none;
    margin-right: 1rem;
}

.nav-link {
    color:white;
}

.nav-link:hover {
    color:darkturquoise;
}

/* Main content */
main {
    padding: 10px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.info-title {
    color: var(--header-col);
    font-weight:lighter;
    width: 100%;
    border-bottom: grey solid 1px;
}

.info-title h2 {
    margin-bottom: -0.25px;
}

.info-box {
    flex: 1 0 100%;
}

#about-text {
    padding: 10px;
}

.profile-img {
    margin: 10px 10px 10px 0px;
    max-height: 300px;
    max-width: 300px;
    float:left;
    border-radius: 50px;
}

/* cards */
.card-column { /* container */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
}

.card-works { 
    flex: 0 1 100%;
    text-align: center;
    border-radius: 5px; 
    padding: 5px;
    outline: grey solid 1px;
    color: var(--header-col);
}

.card-img {
    max-width: 350px;
    max-height: 350px; 
    filter:grayscale(80%);
}

.card-img:hover{
    filter:grayscale(0%);
}

.card-works:hover {
    transform: scale(105%);
}

.card-header-link {
    text-decoration: none;
    color: var(--header-col);
}

.contact-links {
    list
}